<div class="card shadow-sm mb-5">
  <div class="card-header">
    Opção #1. Menor Preço
  </div>

  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr >
            <th>#</th>
            <th>Nome</th>
            <th>Preço</th>
            <th>Quantidade</th>
            <th>Preço Total</th>
          </tr>
      </thead>
      
      <tbody class="table-group-divider">
        <tr *ngFor="let produto of listaProdutos; index as i">
          <td>{{i+1}}</td>
          <td>{{produto.desc}}</td>
          <td>`R$ {{produto.precoMin}}`</td>
          <td>{{produto.quantidade}}</td>
          <td>`R$ {{(produto.precoTotal).toFixed(2)}}`</td>
        </tr>
      </tbody>
    </table>
    
    <div>
      <h1 class="btn btn-secondary">Preço total da compra: R$ {{precoTotalProdutos.toFixed(2)}}</h1>
    </div>
  </div>
  </div>
  </div>