<form action="" class="container_incluir_produto">
    <img src="assets/cliente.svg" alt="imagem cliente">

    <input type="text" name="nomeProduto" id="nomeProduto" placeholder="Nome produto" class="" [(ngModel)]="produto.nome">
    <input type="text" name="marca" id="marca" placeholder="Marca produto" class="" [(ngModel)]="produto.marca">
    <input type="number" name="quantidade" id="quantidade" placeholder="Quantidade desejada" class="" [(ngModel)]="produto.quantidade">

    <input type="button" value="Cadastrar" *ngIf="btnCadastro" class="" (click)="cadastrarProduto()">

</form>