.container_incluir_produto {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 220px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;

    font-family: 'Segoe UI';
    font-size: large;
}

form {
    width: 500px;
    margin: 30px auto;
    text-align: center;
}

input {
    margin-bottom: 10px;
}

input[type="button"] {
    margin-right: 10px;
}