<div class="container_header-page">
  
  <div class="container_social-media">
      <ul>
          <li><span>•</span></li>
          <li><a href="https://....">Instagram</a></li>
          <li><span>•</span></li>
          <li><a href="https://....">Facebok</a></li>
          <li><span>•</span></li>
          <li><a href="https://...."> X </a></li>
          <li><span>•</span></li>
          <li><a href="https://....">Youtube</a></li>
          <li><span>•</span></li>
      </ul>
  </div>

  <input type="button" value="Login" class="btn">

  
</div>