
<div style="margin-top: 40px;">

  <div class="d-flex">

    <div class="orientacao">
      <h3>#1.</h3>
      <h1>Inclua produtos na sua Lista de Compras</h1>
    </div>

    <div class="card shadow-sm mb-5" style="min-width: 401px;">

      <div class="card-header">
        Selecione os produtos que mais gosta de forma fácil
      </div>

      <div class="card-body">
        <div class="input-group mb-3 shadow-sm">
          <span class="input-group-text w_150" id="nome-produto">Nome do Produto</span>
          <input type="text" class="form-control" name="nome" id="nome" placeholder="----------" [(ngModel)]="produto.nome">
        </div>

        <div class="input-group mb-3 shadow-sm">
          <span class="input-group-text  w_150" id="marca">Marca (opcional)</span>
          <input type="text" class="form-control" name="marca" id="marca" placeholder="----------" [(ngModel)]="produto.marca">
        </div>

        <div class="input-group mb-3 shadow-sm">
          <span class="input-group-text  w_150" id="marca">Categoria</span>
          <select name="categoria" id="categoria" class="form-select" [(ngModel)]="produto.categoria">
            <option selected>Escolha.....</option>
            <option value="5">Cafés e Chás</option>
            <option value="6">Cereais</option>
            <option value="12">Conservas, Extratos, Geléias e Sucos</option>
            <option value="13">Preparos Alimentícios</option>
            <option value="21">Perfumaria e Beleza</option>
            <option value="34">Tecidos</option>
            <option value="55">Bebidas</option>
            <option value="61">Peixes e Crustáceos, Moluscos e Outros</option>
          </select>
        </div>

        <div class="input-group mb-3 shadow-sm">
          <span class="input-group-text w_150" id="quantidade">Quantidade</span>
          <input type="text" class="form-control ps-md" name="quantidade" id="quantidade" placeholder="----------" [(ngModel)]="produto.quantidade">
        </div>

        <div>
          <input type="text" value="{{produtos.length}}" name="codigo" id="codigo" hidden="true" [(ngModel)]="produto.codigo">
        </div>
        
        <div class="align-right">
          <input type="button" value="Cadastrar" class="btn btn-primary" (click)="cadastrarProduto()">
        </div>
      </div>
    </div>

  </div>

  <div class="d-flex">

    <div class="orientacao">
      <h3>#2.</h3>
      <h1>Confira sua Lista e Busque pelo Melhor Preço</h1>
    </div>

    <div class="card shadow-sm mb-5" style="min-height: 300px; min-width: 401px;">
      <div class="card-header">
        Lista de Compras
      </div>
      
      <div class="card-body">
      
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr class="align-middle">
                <th>#</th>
                <th>Nome</th>
                <th>Marca</th>
                <th>Quantidade</th>
                <th></th>
              </tr>
            </thead>
            
            <tbody class="table-group-divider">
              <tr *ngFor="let p of produtos; index as i">
                <td>{{i+1}}</td>
                <td>{{p.nome}}</td>
                <td>{{p.marca}}</td>
                <td>{{p.quantidade}}</td>
                <td><input type="button" value="Remover" class="btn btn-secondary" (click)="remover(produto.codigo)"></td>
              </tr>
            </tbody>
          </table>
        </div>
        
         <div class="input-group mb-3 shadow-sm">
          <span class="input-group-text w_200" id="distancia">Procurar em um raio (Km)</span>
          <input type="text" class="form-control ps-md" name="distancia" id="distancia" placeholder="----------" [(ngModel)]="distancia">
        </div>

        <div class="align-right">
          <input type="button" value="Procurar Melhor Preço" class="btn btn-primary" (click)="procurarMelhorPreco(produtos,  distancia)">
        </div>
        
      </div>
    </div>

  </div>

  <div>
    <h1>OPÇÕES DE COMPRA / PREÇO</h1>
    <div class="display-opcoes-compra">
      <app-menor-preco [listaProdutos]="listaMenorPreco" [precoTotalProdutos]="precoTotalListaMenorPreco"></app-menor-preco>
      <app-menor-preco-distancia [listaProdutos]="listaMenorPrecoComDistancia" [precoTotalProdutos]="precoTotalListaMenorPrecoConsiderandoDistancia" [distancia]="distancia"></app-menor-preco-distancia>
      <!-- <app-menor-preco-app [listaProdutos]="listaMenorPrecoDoApp" [precoTotalProdutos]="precoTotalListaMenorPrecoDoApp"></app-menor-preco-app> -->
      <app-menor-preco-angeloni [listaProdutos]="listaMenorPrecoMercadoAngeloni" [precoTotalProdutos]="precoTotalListaMercadoAngeloni"></app-menor-preco-angeloni>
    </div>
  </div>

</div>