.w_150 {
  width: 150px;
}

.align-right {
  display: flex;
  justify-content:end;
}

.display-opcoes-compra {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  max-width: 600px;
}

.orientacao {
  max-width: 300px;
  margin-right: 50px;
  align-content: center;
}