
<div class="container_produto_incluir">
  <h1>INCLUIR PRODUTO NA CESTA DE COMPRAS</h1>
  
  <h3>Nome do Produto</h3>
  <input type="text" name="nome" id="nome" placeholder="----------" [(ngModel)]="produto.nome">

  <h3>Marca (opcional)</h3>
  <input type="text" name="marca" id="marca" placeholder="----------" [(ngModel)]="produto.marca">

  <h3>Quantidade</h3>
  <input type="text" name="quantidade" id="quantidade" placeholder="----------" [(ngModel)]="produto.quantidade">

  <input type="text" value="{{produtos.length}}" name="codigo" id="codigo" hidden="true" [(ngModel)]="produto.codigo">
  
  <input type="button" value="Cadastrar" class="btn" (click)="cadastrarProduto()">
</div>

<div class="container_lista_compra">
  <h1>LISTA DE COMPRAS</h1>
  
    <table class="table">
      
      <thead>
        <tr>
          <th class="numberProduct">#</th>
          <th>Nome</th>
          <th>Marca</th>
          <th>Quantidade</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
          <tr *ngFor="let p of produtos; index as i">
            <td>{{i+1}}</td>
            <td>{{p.nome}}</td>
            <td>{{p.marca}}</td>
            <td>{{p.quantidade}}</td>
            <td><input type="button" value="Remover" class="btn" (click)="remover(produto.codigo)"></td>
          </tr>
      </tbody>

      <!-- <input type="button" value="Alterar" class="botaoAlterar" (click)="alterar()">
      <input type="button" value="Remover" class="btn" (click)="remover(produto.codigo)">  -->
    </table>

    <input type="button" value="Procurar Melhor Preço" class="btn" (click)="procurarMelhorPreco(produtos)">

</div>

<div>
  <h1>OPÇÕES DE COMPRA / PREÇO</h1>

  <div>

    <h1>Opção #1. Menor Preço</h1>
    <table class="table">
      
      <thead>
        <tr>
          <th class="numberProduct">#</th>
          <th>Nome</th>
          <th>Preço</th>
          <th>Quantidade</th>
          <th>Preço Total</th>
        </tr>
      </thead>
      
      <tbody>
        <tr *ngFor="let produto of listaMenorPreco; index as i">
          <td>{{i+1}}</td>
          <td>{{produto.desc}}</td>
          <td>`R$ {{produto.precoMin}}`</td>
          <td>{{produto.quantidade}}</td>
          <td>`R$ {{(produto.precoTotal).toFixed(2)}}`</td>
        </tr>
      </tbody>
    </table>

    <h1>`Preço total da compra: R$ {{precoTotalListaMenorPreco.toFixed(2)}}`</h1>
  </div>

    
  <div>
    <h1>opção #2. Menor Preço Levando em Consideração Distância (até 2km)</h1>
    <table class="table">
      
      <thead>
        <tr>
          <th class="numberProduct">#</th>
          <th>Nome</th>
          <th>Preço</th>
          <th>Quantidade</th>
          <th>Distância</th>
          <th>Estabelecimento</th>
          <th>Preço Total</th>
        </tr>
      </thead>
      
      <tbody>
        <tr *ngFor="let produto of listaMenorPrecoComDistancia; index as i">
          <td>{{i+1}}</td>
          <td>{{produto.desc}}</td>
          <td>`R$ {{(produto.valor).toFixed(2)}}`</td>
          <td>{{produto.quantidade}}</td>
          <td>{{produto.distkm}}</td>
          <td>{{produto.nm_empresa}}</td>
          <td>`R$ {{(produto.precoTotal).toFixed(2)}}`</td>
        </tr>
      </tbody>
    </table>

    <h1>`Preço total da compra: R$ {{(precoTotalListaMenorPrecoConsiderandoDistancia).toFixed(2)}}`</h1>
  </div>

  <div>
    <h1>opção #3. Menor Preço <strong style="color: yellow;">ENTREGUE EM SUA CASA</strong></h1>
    <table class="table">
      
      <thead>
        <tr>
          <th class="numberProduct">#</th>
          <th>Nome</th>
          <th>Preço</th>
          <th>Quantidade</th>
          <th>Preço Total</th>
        </tr>
      </thead>
      
      <tbody>
        <tr *ngFor="let produto of listaMenorPrecoDoApp; index as i">
          <td>{{i+1}}</td>
          <td>{{produto.desc}}</td>
          <td>`R$ {{(produto.valor).toFixed(2)}}`</td>
          <td>{{produto.quantidade}}</td>
          <td>`R$ {{(produto.precoTotal).toFixed(2)}}`</td>
        </tr>
      </tbody>
    </table>

    <h1>`Preço total da compra: R$ {{precoTotalListaMenorPrecoDoApp.toFixed(2)}}`</h1>
  </div>

</div>